<!DOCTYPE html>
<!--
            options
               books
               patrons

               list all books
               list all books checked out
               list all books not checked out
               check out book
               return book
               add book
               remove book
               find book


               list all patrons
               list all patrons with checked out books
               list all patrons with no checked out books
               patron return all books
               patron checkout book
               add patron
               remove patron
               find patron

-->
<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <title>library main menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .boxed {
          border: 4px solid blue ;
          width: 50% ;
        }
    </style>
</head>
<body>
    <div class="boxed">
        <h2>All Things Books</h2>
        <br>
        <!--   the output of the input is 'bookChoice' which is available to the caller as an html form property by name -->
        <form action="/library/bookMenu" method="post">
            <!--  /books/   GET  ALL with options:  none,  Checked Out = true, Checked Out = false -->
            <input type="radio" name="bookChoice" id="allBooks" value="allBooks">List All Books</input>
            <br>
            <input type="radio" name="bookChoice" id="allBooksCheckedOut" value="allBooksCheckedOut">List All Books Checked Out</input>
            <br>
            <input type="radio" name="bookChoice" id="allBooksNotCheckedOut" value="allBooksNotCheckedOut">List All Books Not Checked Out</input>
            <br>
            <!--   /book/<bookName>  GET  -->
            <input type="radio" name="bookChoice" id="findBook" value="findBook">Find Book</input>
            <br>
            <!--   /book/<bookName>  PUT  option set Checked Out = true   -->
            <input type="radio" name="bookChoice" id="checkOutBook" value="checkOutBook">Check Out Book</input>
            <br>
            <!--   /book/<bookName>  PUT  option set Checked Out = false  -->
            <input type="radio" name="bookChoice" id="returnBook" value="returnBook">Return Book</input>
            <br>
            <!--   /book/            POST to books  name = newBookName -->
            <input type="radio" name="bookChoice" id="addNewBook" value="addNewBook">Add New Book</input>
            <br>
            <!--   /book/<bookName>  DELETE  -->
            <input type="radio" name="bookChoice" id="removeBook" value="removeBook">Remove Book</input>
            <br>
            <br>
            <br>
            <input type="radio" name="bookChoice" id="returnToMainMenu" value="returnToMainMenu">Return to Main Menu</input>
            <br><br>
            <input type="submit" value="click to go">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
</body>
</html>